@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/*reset*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*main styles*/

:root{
/*Primary*/
--dark-cyan-: hsl(158, 36%, 37%);
--cream-: hsl(30, 38%, 92%);

/*Neutral*/
--dark-blue-: hsl(212, 21%, 14%);
--grayish-blue-: hsl(228, 12%, 48%);
--white-: hsl(0, 0%, 100%);
}

body{
    background-color: var(--cream-);
    font-size:14px;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 500;
    color: var(--grayish-blue-);
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

h1{
font-family: 'Fraunces', serif;
font-size: 2rem;
line-height: 2.1rem;
}


/*product-card*/
.product-card{
    border-radius: 10px;
    background-color: var(--white-);
    box-shadow: 0 3px 6px 0 hsl(228, 12%, 58%);
    max-width:580px;
    display:flex;
}

.p-img{
   max-width:290px;
   border-radius: 10px 0 0 10px;
   height:100%;
}

.p-description{
    padding:2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-type{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3rem ;
}

.p-title{
    color:var(--dark-blue-);
}

.p-text{
    line-height: 1.4rem;
}

.price{
    display:flex;
    flex-wrap: wrap;
}

.price-aft{
    color: var(--dark-cyan-);
}

.price-bfr{
    align-self:center;
    text-decoration: line-through;
    margin-left:1.4rem;
}


.btn{
    width:100%;
    border: 2px var(--dark-cyan-);
    background:var(--dark-cyan-);
    color: var(--white-);
    font-weight: 700;
    padding: 1rem;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    background-color:hsl(158, 36%, 20%);
}

.icon{
    margin-right:1rem;
}

.attribution{
    display:none;
}

/*media queries*/

@media (max-width:640px) {

    .product-card{
        flex-direction: column;
        max-width:90%;
    }

    .p-img{
        border-radius: 10px 10px 0 0;
        height:auto;
        max-width:100%;
    }

    .p-description{
        padding:1.5rem;
    }

    .product,
    .price
    {
        margin-bottom:20px;
    }

    .btn{
        font-size: 0.9rem;
    }

}